// overlay mixins
@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    @content;
}

// fonts
@mixin font($size, $weight, $letter-space, $color) {
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter-space;
    color: $color;
    @content;
}