// colors
$light: #ffffff;
$dark: #000000;
$Maincolor: #0f3057;
$Subcolor: #a0beca;
$Paracolor: #008891;
$Infocolor: #e7e7de;
// fonts
$main-font: 30px;
$font-one: 24px;
$font-two: 18px;
$font-three: 12px;
